.pageCenter{
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
}

.headingLine{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

.headlineBox {
    padding-left: 10px;
    text-align: left;
    border: none;
    width: 90% !important;
    height: 54px;
    font-weight: bold;
    font-size: x-large;
}
.outerDiv{
    text-align: left;
}

.trashImg{
    padding: 1px 2px;
    width: 25px;
    height: 25px;
}

.textbox{
    width: 60%;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: medium;
}


.new-btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit-btn{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}