body{
    text-align: left;
    margin: 0vmax;
    padding: 4vmax;
    widows: 100vw;
}
.pagestyle{
    margin: 0vmax;
    padding: 0vmax;
    border-radius: 5px;
    background-color: #FFFFFF;
    text-align: center;
}
.outerpage
{
    height: 580px;
    width: 700px;
    margin: 2vmax;
    display: inline-block;
    padding: 2vmax;
    border-radius: 13px 13px;
    background: linear-gradient(90deg, rgb(249,189,193) 0%, rgb(189,141,198)100%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.pageCenter
{
    height: 470px;
    width: 300px;
    margin:2vmax;
    text-align: left;
    padding: 2vmax;
    display: inline-block;
    border-radius: 10px 10px;   
    background-color: #FFFFFF; 
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.heading{
    margin: 2px;  
}

.headingline{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color:#9775B9;
    text-align: justify;
    opacity: 0.7;
    line-height:25px;
}

.listimg{
    height:25px;
    width:25px;
    float: right;
}

.headlineBox {
    color: #828282;
    border: none;
    height: 25px;
    width: 80% !important;
    margin: 2px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    opacity: 0.9;
    line-height:25px;
}
    
.outerDiv{
    margin: 5px;
}

.newdivision{
    padding: 5px;
    text-align: left;
}

.checkbox{
    height: 15px;
    width: 12px; 
    margin: 1px;
    position: relative;
    color: #E9E9E9;
}

.textbox{
    height: 20px;
    width: 70%;
    margin: 1px 1px 1px 20px;
    padding: 2px;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    border: hidden;
    color: #828282;
    text-align: justify;
    line-height:25px;
}

.labeltext{
    padding: 40px;
    text-align: justify;
    margin: .1rem;
}

.delImg{
    width: 15px;
    height: 15px;
    float: right;
    margin-top: 5px;
}

.new-btn{
    background-color: #FFBB74;
    color:#FFFFFF;
    padding: 5px 8px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size:13px;
    border-radius: 4px 4px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height:25px;
}

.submit-btn{
    background-color:#FFBB74;
    color:#FFFFFF;
    padding: 5px 8px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 4px 4px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height:25px;
    }

.checkBoxaction{
    text-decoration: line-through;
    color: #D2D2D2;
}

/* .checkBoxactionunchecked{
    text-decoration: none;;
} */

.headboxbordercolor{
    border: hidden;
}

.textboxbordercolor{
    border: 1px solid red
}

.textboxbordercolorNew{
    border: hidden;
}